body {
    background-color: #161819;
    color: #ffffff;
}
.container {

    padding: 20px;
    border-radius: 10px;
    background-color: #1e1f22;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;

}

.imagenPrincipal img {

    width: 100%;
    max-width: 400px;
    height: auto;

}

.informacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    padding-top: 50px;
    gap: 30px;
}

.informacion img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.informacion div {
    max-width: 65%;
}

.imgDerecha {
    flex-direction: row-reverse;
}

.btn-unete {

    display: inline-block;
    padding: 15px;
    background-color: #019DD8;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 20px;

}

.btn-unete:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;

}